<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black mb-3" id="total-rents">
				<div class="card-header">
					<h5 class="card-title">Total Rents</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{total_rents}}</h3>
				</div>
			</div>
		</div>
	</div>
<!--
	<div class="col">
		<div class="col-md"
			<div class="card text-center text-black mb-3" id="Avaiable">
				<div class="card-header">
					<h5 class="card-title">Avaiable</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{Avaiable}}</h3>
				</div>
			</div>
		</div>
	</div> 
-->

	<div class="col">
		<div class="col-md"
			<div class="card text-center text-black mb-3" id="Rented">
				<div class="card-header">
					<h5 class="card-title">Rented</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{Rented}}</h3>
				</div>
			</div>
		</div>
	</div>